h1,
h2,
p,
a {
  font-family: "Verdana", sans-serif;
  text-align: center;
}

h1, h2 {
  color: #fff;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

p {
  font-size: 21px;
  color: gray;
}

a {
  font-size: 16px;
  color: aquamarine;
}

#copyright {
  text-align: right;
  color: gray;
}

body {
  background-color: #000;
  text-align: center;
}

video::-webkit-media-controls {
  display:none !important;
}
